:root {
  --green-color-dark: #172f4b;
}

html {
  font-size: 62.5%;
}

body {
  color: #fff;
  font-family: "Monsterrat", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    270deg,
    #213a57,
    #1062a5,
    #14919b,
    #1c706c,
    #45dfb1,
    #80ed99
  );
}

.page__container {
  width: 320px;
  background-color: var(--green-color-dark);
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}

.page__avatar {
  width: 30%;
  border-radius: 99px;
}

.page__name {
  font-weight: 700;
  font-size: 2rem;
  margin: 20px 0 10px;
}

.page__name:hover {
  color: ;
}

.page__location {
  display: inline-block;
  width: 80%;
  margin-bottom: 10px;
}

.page__desc {
  font-weight: 600;
  margin-bottom: 20px;
}

.navbar__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.navbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #314964;
  border-radius: 10px;
}

.navbar__link {
  padding: 20px 0;
  font-weight: 600;
}

.fa-brands {
  margin-right: 3%;
}

/* Responsive */
@media (max-width: 320px) {
  .page {
    width: 280px;
  }
}
